<h1>ログイン</h1>
<% if flash[:notice] %>
  <div class="alert alert-danger"><%= flash[:notice] %></div>
  <% end %>
<p>・譲りたい物品を掲載できる掲示板です。</p>
<p>・ユーザー登録した方のみ情報をアップできます。</p>
<p>・ユーザー登録した方のみ連絡先を確認できます。</p>
<%= form_for(:session, method: :post, url: login_path) do |f| %>
  <div class="form-group">
    <%= f.label :name, 'ユーザー名' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password, 'パスワード' %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <%= f.submit 'ログイン', class: 'btn btn-primary' %>
<% end %>
<br>
<%= link_to 'ユーザー新規登録', new_user_path, class: 'btn btn-primary' %>