<% if flash[:error_messages] %>
  <div class="alert alert-danger">
   <ul>
    <% flash[:error_messages].each do |msg| %>
      <li>
        <%= msg %>
      </li>
    <% end %>  
   </ul>
  </div>
<% end %>  
<%= form_for board do |f| %>
    <div class="form-group">
      <%= f.label :name , '投稿者名' %>
      <%= f.text_field :name, class: 'form-control' %>
      </div>     
    <div class="form-group">
      <%= f.label :title, '品物名' %>
      <%= f.text_field :title, class: 'form-control' %> 
      </div>   
    <div class="form-group">
      <%= f.label :comment , 'コメント' %>
      <%= f.text_area :comment, class: 'form-control', rows: 10 %> 
    </div>
    <div class="form-group">
      <%= f.label :address, '受け渡し場所' %>
      <%= f.text_field :address, class: 'form-control' %> 
      </div> 
      <div class="form-group">
      <%= f.label :mail, '連絡先' %>
      <%= f.text_field :mail, class: 'form-control' %> 
      </div>   
    <p><%=f.label "画像をアップロード" %><br>
    <%= f.file_field :image %></p>
    <%= f.submit '保存', class: 'btn btn-primary' %>  
<% end %>
