<div class="d-flex align-items-center">
  <h1>掲示板一覧</h1>
  <div class="ml-auto boards__linkBox">
   
    <a href="/boards/new" class="btn btn-outline-dark">新規作成</a>
  </div>
</div>



<table class="table table-hover boards__table">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>画像</th>
      <th>品物名</th>
      <th>作成者</th>
      <th>受け渡し場所</th>
      <th>作成日時</th>
      
      
    </tr>
  </thead>
  <tbody>
  <% @boards.each do |board| %>
    <tr>
   
     <th><%= board.id %></th>
     <td>
     <%= image_tag board.image_url(:thumb) if board.image.present? %>
     </td>
     <td><%= board.title %></td>
     <td><%= board.name %></td>
     <td><%= board.address %></td>
     <td><%= board.created_at %></td>
     <td>
     
     
     

    </tr>
    <% end %>
    
  </tbody>
</table>


