<div class="d-flex align-items-center mt-4 mb-4">
  <div class="ml-auto boards__linkBox">
    <%= link_to "一覧", boards_path, class: 'btn btn-outline-dark' %>
    <% if @current_user %>
      <% if @current_user.id == @user.id %>
      <%= link_to "編集", edit_board_path(@board), class: 'btn btn-outline-dark' %>
      <%= link_to "削除", board_path(@board), class: 'btn btn-outline-dark', method: :delete %>
      <% end %>
    <% end %>  
  </div>
</div>
<% if flash[:notice] %>
  <div class="alert alert-primary"><%= flash[:notice] %></div>
  <% end %>

<div class="card">
  <div class="card-header">
    <h4><%= @board.title %></h4>
    <% @board.tags.each do |tag| %>
      <span class="badge badge-primary"><%= tag.name %></span>
    <% end %>  
  </div>

  <div class="card-body">
   <div class="description"> 
       <div class="image">
         <p class="card-text"><%= image_tag @board.image.thumb2.url if @board.image.present? %></p>
       </div> 
      <table border="1">
       <tr>
       <td>投稿者名</td><td><%= User.find_by(id:@board.user_id).name %></td>
       </tr>
       <% if @current_user %>
        <tr>
        <td>連絡先</td><td><%= @board.mail %></td>
        </tr>
       <% end %> 
       <tr>
       <td>受渡し希望</td><td><%= @board.address %></td>
       </tr>
       <tr>
       <td>作成日</td><td><%= @board.created_at.to_s(:datetime_jp) %></td>
       </tr>
       <tr>
       <td>最終更新</td><td><%= @board.updated_at.to_s(:datetime_jp) %></td>
       </tr>
　   </table>
    </div> 
      <div class="comment">
        <%= simple_format(@board.comment) %>
      </div>  
　 </div>
  
  
  
</div>